.notSelected{
    width:69px;
    height:69px;
    margin: 3px;
    border-radius: 5px;
    background-color: lightgray;
    font-size: 12px;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.selected{
    width:69px;
    height:69px;
    margin: 3px;
    border-radius: 5px;
    background-color: gray;
    font-size: 12px;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.warning {
    animation: shake 0.3s ease;

    width:69px;
    height:69px;
    margin: 3px;
    border-radius: 5px;
    background-color: grey;
    font-size: 12px;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

@keyframes shake {
    0% { transform: translateX(0);}
    25% { transform: translateX(-20px);}
    50% { transform: translateX(20px);}
    75% { transform: translateX(-20px);}
    100% { transform: translateX(0);}
}