.completed{
    width:294px;
    height:69px;
    background:green;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    margin: 3px;
    border-radius: 5px;
}

.completedCategory{
    font-size: 30px;
    width:294px;
    height:39px;
}

.completedWords{
    width:294px;
    height:30px;
}