.reset{
    height:44px;
    width:94px;
    background-color: orange;
    color:black;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3px;
    border-radius: 20px;

    cursor: pointer;
}

.reset:active {
    filter: brightness(80%);
}